<nav class="navbar navbar-expand-sm bg-black p-4 mt-0">
    <div class="container-fluid">
        <a class="navbar navbar-brand text-success" [routerLink]="['/home']">Movies App</a>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            </ul>
            <div class="d-flex">
                <input (keyup.enter)="searchMovie(searchTerm.value)" class="form-control me-2" type="search" placeholder="Search Movie" aria-label="Search" #searchTerm>
                <button (click)="searchMovie(searchTerm.value)" class="btn btn-success" type="submit">Search</button>
            </div>
        </div>
    </div>
</nav>